{% extends 'polls/layout.html' %}
{% load static %}

{% block title %}About me{% endblock %}

{% block content %}
    <div class="container">
        <div class ="row">
            <div class ="col-12">
                <p><img src="{% static '/polls/img/my_photo.jpg' %}" width="375" height="500" align="middle"> Бедный студент</p>
                 <h2>Контакты для связи</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class ="row">
            <div class ="col-12">
                <p>Телефон: +7 (123) 456-78-90</p>
                <p>Почта: <a href="mailto: ksenija.danlova@yandex.ru">ksenija.dan1lova@yandex.ru</a></p>
                <p>Телеграм: @Senya_dan1ova</p>
            </div>
        </div>
    </div>    
{% endblock content %}