{% extends 'polls/layout.html' %}

{% block title %}News{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet odio iaculis, gravida magna id, rutrum ex. In facilisis maximus nisl, eget vulputate dolor. Cras iaculis est libero, vel elementum velit tempus et. Mauris venenatis, neque sit amet pharetra auctor, elit ante dignissim mauris, id ullamcorper mauris quam a turpis. Donec vestibulum tellus vitae felis bibendum pulvinar. Nam ultrices neque aliquet justo malesuada varius. Suspendisse neque sapien, iaculis et commodo sit amet, posuere at arcu. Pellentesque tristique molestie mauris, sed tempus nunc elementum id. Maecenas ac justo id velit maximus elementum. Sed vel varius metus, vel euismod odio. Quisque nibh enim, tempor ac porta sit amet, vestibulum nec neque.</p>
        <button class="btn btn-danger">Click</button>

    </div>
{% endblock %}